
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Signika+Negative:wght@300;400;600&display=swap');

/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Signika Negative', sans-serif; */


*{
    margin:0;
    padding:0;
    font-family: 'Signika Negative', sans-serif;
    color:#fff;
    transition:.3s;
}

body{
    background-image: url(https://images.unsplash.com/photo-1547954575-855750c57bd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-attachment: fixed;
}

span{
    color:#fdd835;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 4rem;
}

.header .logo a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
}

.header .logo:hover{
    transform: scale(1.2);
}

.header .login{
    background-color: #00000000;
    font-size: 1rem;
    border:2px solid #ffffff6b ;
    width: 6rem;
    border-radius: .5rem;
}

.header .login:hover{
    background-color: #ffffff38;
    cursor: pointer;
}

/* Main */

main{
    width:100vw;
    display:flex;
    justify-content: center;
}

main section{
    display: flex;
    flex-direction: column;
}

main section .titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}


/* Form */

.form{
    display: flex;
    flex-direction: column;
    width:600px;
    font-size: 1.3rem;
    background-color: #ffffff1a;
    padding:1rem;
    border-radius: .3rem;
}

.form label{
    margin-top: .5rem;
}

.form input{
    height:2rem;
    border-radius: .3rem;
    margin-bottom: .1rem;
    border:2px solid #ffffff86;
    background-color: #ffffff00;
    padding:0 .3rem;
}

.form input::placeholder{
    color:#fff;
    font-size: .9rem;
}

.form input[type=radio]{
    height:1rem;
}

.form .boton-submit{
    margin-top: 1rem;
    height:3rem;
    font-size:1.2rem;
}

.form .boton-submit:hover{
    background-color: #ffffff83;
}

.form .input-radio{
    display: flex;
    flex-direction: column;
}

.form select{
    color:#000;
    font-size: 1rem;
}

.form select option{
    color:#000;
}

/* Footer */

.footer{
    display: flex;
    justify-content: center;
    margin:2rem 0;
}

.footer .contenedor-p{
    display: flex;
    width:40%;
    background-color: #ffffff18;
    padding:1rem;
    border-radius: .5rem;
}

.footer p{
    margin: 0 .6rem;
}

